body {
    background-image: url("bgr-img.jpg");
}

canvas {
    margin-left: 100px;
    border: 3px solid black;
    background-color: white;
}

.btn {
    background-color: rgb(175, 247, 247);
    text-align: center;
    height: 25px;
    width: 60px;
    margin-right: 5px;
    
}

#black {
    background-color: black;
    text-align: center;
    height: 20px;
    width: 30px;
    margin-right: 5px;
    border: 1px solid yellow;
    border-radius: 50%;
}

#green {
    background-color: green;
    text-align: center;
    height: 20px;
    width: 30px;
    margin-right: 5px;
    border: 1px solid yellow;
    border-radius: 50%;
}

#red {
    background-color: red;
    text-align: center;
    height: 20px;
    width: 30px;
    margin-right: 5px;
    border: 1px solid yellow;
    border-radius: 50%;
}

#blue {
    background-color: blue;
    text-align: center;
    height: 20px;
    width: 30px;
    margin-right: 5px;
    border: 1px solid yellow;
    border-radius: 50%;
}

